TOKEN=
PREFIX=.
HASDB=
# this is necessary for most features in the bot to work
POSTGRESQL_URI=
BOT_NAME=Takina
DB_NAME=takina
EMBED_COLOUR=0x2B2D31
GITHUB_AUTH_TOKEN=
LIBRETRANSLATE_API_URL=
# no need to set this if your api doesn't have keys enabled
LIBRETRANSLATE_API_KEY=
# leave unset for default (US). this will break the steam command if you don't put a correct value; 
# this is the country code for steam to use for prices and stuff
STEAM_REGION=US
# for minecraft.hypixel. keeping this unset means skipping loading this cog
HYPIXEL_API_KEY=
# this is for util.books
GOOGLE_API_KEY=
# blacklist certain cogs from loading
# <category_name>.<cog_name> (look in the takina/cogs folder). 
# exempli gratia: minecraft.mcskin, weebism.anime
# for multiple cogs, format them in a comma separated list
COGS_BLACKLIST=
# this is the same as above, but for entire cog categories
# if you really hate weebs and minecraft players: weebism, minecraft
COGS_CATEGORY_BLACKLIST=