TOKEN=
PREFIX=.
HASDB=
MONGO=
BOT_NAME=Takina
DB_NAME=takina
EMBED_COLOR=0x2B2D31
GITHUB_AUTH_TOKEN=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
LIBRETRANSLATE_API_URL=
# no need to set this if your api doesn't have keys enabled
LIBRETRANSLATE_API_KEY=
# leave unset for default (US). this will break the steam command if you don't put a correct value; 
# this is the country code for steam to use for prices and stuff
STEAM_REGION=US
